<!-- Navigation Bar-->
<header id="topnav" class="defaultscroll scroll-active">
  <!-- Tagline STart -->
  <div class="tagline">
    <div class="container">
      <div class="float-left">
        <div class="phone">
          <i class="mdi mdi-phone-classic mr-1"></i>+62 857-7392-0715
        </div>
        <div class="email">
          <a href="#"> <i class="mdi mdi-email"></i> exas@suport.com </a>
        </div>
      </div>
      <div class="float-right">
        <ul class="topbar-list list-unstyled d-flex" style="margin: 11px 0px;">
          <%if (isAuthenticated) { %>
          <form id="form1" action="/logout" method="POST">
            <li class="list-inline-item">
              <a href="javascript:void(0);"
                ><i class="mdi mdi-account mr-2"></i> Lelah
              </a>
            </li>
            <li class="list-inline-item">
              <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
              <a
                href="javascript:;"
                onclick="document.getElementById('form1').submit();"
                ><i class="mdi mdi-login mr-2"></i>Logout</a
              >
            </li>
          </form>
          <% } else { %>
          <li class="list-inline-item">
            <a href="/login"><i class="mdi mdi-login mr-2"></i>Login</a>
          </li>
          <% } %>
        </ul>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
  <!-- Tagline End -->

  <!-- Menu Start -->
  <div class="container">
    <!-- Logo container-->
    <div>
      <a href="/" class="logo">
        <img
          src="/front/images/logo-light.png"
          alt=""
          class="logo-light"
          height="37"
        />
        <img
          src="/front/images/logo-dark.png"
          alt=""
          class="logo-dark"
          height="32"
        />
      </a>
    </div>
    <div class="buy-button">
      <a href="/register" class="btn btn-primary"
        ><i class="mdi mdi-cloud-upload"></i> Register</a
      >
    </div>
    <!--end login button-->
    <!-- End Logo container-->
    <div class="menu-extras">
      <div class="menu-item">
        <!-- Mobile menu toggle-->
        <a class="navbar-toggle">
          <div class="lines">
            <span></span>
            <span></span>
            <span></span>
          </div>
        </a>
        <!-- End mobile menu toggle-->
      </div>
    </div>

    <div id="navigation">
      <!-- Navigation Menu-->
      <ul class="navigation-menu">
        <li><a href="/">Home</a></li>
        <li><a href="/mlist">Mentor List</a></li>
        <li><a href="/faq">FAQ</a></li>
        <li><a href="/blog">Blog</a></li>
      </ul>
      <!--end navigation menu-->
    </div>
    <!--end navigation-->
  </div>
  <!--end container-->
  <!--end end-->
</header>
<!--end header-->
<!-- Navbar End -->
