<footer class="footer pt-0">
  <div class="row align-items-center justify-content-lg-between">
    <div class="col-lg-6">
      <div class="copyright text-center text-lg-left text-muted">
        &copy; 2019
        <a
          href="https://www.creative-tim.com"
          class="font-weight-bold ml-1"
          target="_blank"
          >Creative Tim</a
        >
      </div>
    </div>
    <div class="col-lg-6">
      <ul class="nav nav-footer justify-content-center justify-content-lg-end">
        <li class="nav-item">
          <a
            href="https://www.creative-tim.com"
            class="nav-link"
            target="_blank"
            >Creative Tim</a
          >
        </li>
        <li class="nav-item">
          <a
            href="https://www.creative-tim.com/presentation"
            class="nav-link"
            target="_blank"
            >About Us</a
          >
        </li>
        <li class="nav-item">
          <a
            href="http://blog.creative-tim.com"
            class="nav-link"
            target="_blank"
            >Blog</a
          >
        </li>
        <li class="nav-item">
          <a
            href="https://www.creative-tim.com/license"
            class="nav-link"
            target="_blank"
            >License</a
          >
        </li>
      </ul>
    </div>
  </div>
</footer>

<!-- Argon Scripts -->
<!-- Core -->
<script src="../../back/assets/vendor/jquery/dist/jquery.min.js"></script>
<script src="../../back/assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="../../back/assets/vendor/js-cookie/js.cookie.js"></script>
<script src="../../back/assets/vendor/jquery.scrollbar/jquery.scrollbar.min.js"></script>
<script src="../../back/assets/vendor/jquery-scroll-lock/dist/jquery-scrollLock.min.js"></script>
<!-- Optional JS -->
<script src="../../back/assets/vendor/chart.js/dist/Chart.min.js"></script>
<script src="../../back/assets/vendor/chart.js/dist/Chart.extension.js"></script>
<!-- Argon JS -->
<script src="../../back/assets/js/argon.js?v=1.1.0"></script>
<!-- Demo JS - remove this in your project -->
<script src="../../back/assets/js/demo.min.js"></script>
<!--Sweet Alert -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
<!-- Data Table -->
<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>

<script>
  $(document).ready(function () {
    let interval = 1000;
    $("#mytable").DataTable({
      ordering: false,

      stateSave: true,
      pagingType: "simple_numbers",
      language: {
        paginate: {
          first: "«",
          previous: "‹",
          next: "›",
          last: "»",
        },
      },
      responsive: true,
    });

    function getRequest() {
      $.when(
        $.get({
          url: "/api/admin/mentorexams",
        }),
        $.get({
          url: "/api/admin/withdraws",
        })
      )
        .then((data1, data2) => {
          let newData1 = JSON.stringify(data1[0].mentor);
          let newData2 = JSON.stringify(data2[0].withdraw);
          let oldData1 = localStorage.getItem("mentor");
          let oldData2 = localStorage.getItem("withdraw");

          console.log(`Mentor : ${oldData1} = ${newData1} `);
          console.log(`Withdraw : ${oldData2} = ${newData2} `);

          if (!oldData1 || oldData1 == null) {
            localStorage.setItem("mentor", newData1);
          } else if (!oldData2 || oldData2 == null) {
            localStorage.setItem("withdraw", newData2);
          } else {
            if (newData1 > oldData1) {
              Swal.fire({
                title: "New Mentor Exam Was Receive",
                width: 400,
                icon: "success",
                padding: "3em",
                backdrop: "rgba(0,0,123,0.4)",
                showConfirmButton: false,
                timer: 10000,
              });
              localStorage.removeItem("mentor");
            } else if (newData2 > oldData2) {
              Swal.fire({
                title: "New Withdraw Request Notification",
                width: 400,
                icon: "success",
                padding: "3em",
                backdrop: "rgba(0,0,123,0.4)",
                showConfirmButton: false,
                timer: 10000,
              });
              localStorage.removeItem("withdraw");
            }
          }
        })
        .fail((err) => {
          console.log(err);
        })
        .always(function () {
          setTimeout(getRequest, interval);
        });
    }
    setTimeout(getRequest, interval);
  });
</script>
