<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Live - Mentoring</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div>
      <script crossorigin src="https://unpkg.com/@daily-co/daily-js"></script>
      <script>
        callFrame = window.DailyIframe.createFrame({
          showLeaveButton: true,
          iframeStyle: {
            position: "fixed",
            width: "100%",
            height: "100%",
            border: "none",
          },
        });
        callFrame.join({
          url: "https://expert-assist.daily.co/<%=schedule.link%>",
        });
      </script>
      <div
        class="fixed-top mb-2 text-center mx-auto justify-content-center"
        style="width: 100%;"
      >
        <nav
          class="navbar navbar-expand-lg navbar-light bg-light mx-auto text-center justify-content-center"
        >
          <span class="navbar-text">
            <a class="h4 text-danger font-weight-bold" href="/user/review"
              >Exit</a
            >
          </span>
          <span class="navbar-text mr-3 ml-3">
            <a class="h5">⌛</a>
          </span>
          <span class="navbar-text">
            <a class="h4 text-danger font-weight-bold" id="time"></a>
          </span>
        </nav>
      </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.1/moment.min.js"></script>
    <script>
      // Set the date we're counting down to
      let countDownDate = new Date("<%-endTime%>").getTime();

      // Update the count down every 1 second
      let x = setInterval(function () {
        // Get today's date and time
        let now = new Date().getTime();

        // Find the distance between now and the count down date
        let distance = countDownDate - now;

        // Time calculations for days, hours, minutes and seconds
        let hours = Math.floor(
          (distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60)
        );
        let minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
        let seconds = Math.floor((distance % (1000 * 60)) / 1000);

        // Display the result in the element with id="time"

        document.getElementById("time").innerHTML =
          hours + ":" + minutes + ":" + seconds;

        // If the count down is finished, write some text
        if (distance < 0) {
          clearInterval(x);
          document.getElementById("time").innerHTML = "Times Up !";
        }
      }, 1000);
    </script>
  </body>
</html>

<!-- Script Timer Lama-->
<!-- <script>
  window.onload = timer();

  function timer() {
    ? Cari Waktu Sekarang
    let timeNow = moment().format("LT");

    ? Cari Waktu Selesai (trus di convert ke menit)
    let timeSchedule = "ejs moment(dateTimeSchedule).format('LT') ejs ";
    let timeDuration = "ejs schedule.duration ejs" * 60;
    * waktuSelesai = timeSchedule + durasiBooking (timeDuration)
    let endTime = moment(timeSchedule, "LT")
      .add(timeDuration, "m")
      .format("LT");
    * durasiAkhir = waktuSelesai - waktuMulai
    let result = moment
      .utc(moment(endTime, "LT").diff(moment(timeNow, "LT")))
      .format("LT");
    * TERAKHIR : Convert Durasi (result) dari format jam ke menit saja
    let duration = moment(result, "LT").diff(moment().startOf("day"), "m");

    // console.log(result);
    console.log(`Waktu diJadwal : ${timeSchedule}`);
    console.log(`Waktu Sekarang : ${timeNow}`);
    console.log("Waktu Selesai : " + endTime);
    console.log("W.Selesai - W.Sekarang : " + result);
    console.log("HASIL : " + duration);

    ? Waktu selesai (dalam menit) , lalu dikali 60 (detik) 
    let fiveMinutes = 60 * duration,
      display = document.getElementById("time");
    startTimer(fiveMinutes, display);
  }

  function startTimer(duration, display) {
    let alert;
    let timer = duration,
      minutes,
      seconds;
    setInterval(function () {
      minutes = parseInt(timer / 60, 10);
      seconds = parseInt(timer % 60, 10);

      minutes = minutes < 10 ? "0" + minutes : minutes;
      seconds = seconds < 10 ? "0" + seconds : seconds;

      display.textContent = minutes + ":" + seconds;

      if (--timer < 0) {
        // alert = true;
        document.getElementById("time").innerHTML = "TIMES UP";
        window.alert("Time is Up");
      }
    }, 1000);
  }
</script> -->
