        <!-- javascript -->
        <script src="/front/js/jquery.min.js"></script>
        <script src="/front/js/bootstrap.bundle.min.js"></script>
        <script src="/front/js/jquery.easing.min.js"></script>
        <script src="/front/js/plugins.js"></script>

        <!-- selectize js -->
        <script src="/front/js/selectize.min.js"></script>

        <script src="/front/js/jquery.nice-select.min.js"></script>

        <script src="/front/js/app.js"></script>
    </body>
</html>